extends layout

block content
  div#fin.container
    div.row.d-flex.justify-content-center
      div.col-12
        h1.display-4 Merci d'avoir participé à ce Quizz !
        h1.display-4 Vous avez fait: #{Score}/#{Total}. 
        br
        br      
        div.row.d-flex.justify-content-center
          a(onclick='href="/"')#match.alert.alert-primary.match(role='alert')
            | Retour au menu
