extends layout

block content
  div#fin.container
    div.row.d-flex.justify-content-center
      div.col-12
      	h1.display-4 Merci d'avoir participé à ce Quizz !
      	p vous avet fait: INSERER VARIABLE réponses justes. 

      	a(onclick='href="/index"')#match.alert.alert-primary.match(role='alert')
        | #Retour au menu
