extends layout

block content      
  div#index.container
    
    div.row.d-flex.justify-content-center
      a(onclick='href="/match"')#match.alert.alert-primary.match(role='alert')
        | #{gameTitle1}
    div.row.d-flex.justify-content-center
      a(onclick='href="/quote"')#quote.alert.alert-primary.quote(role='alert')
          | #{gameTitle2}
  
