extends layout

block content      
  div#index.container
    
    div.row.d-flex.justify-content-center
      a(onclick='href="/question/1/0"')#match.alert.alert-primary.match(role='alert')
        | Match Ta Viande 
    div.row.d-flex.justify-content-center
      a(onclick='href="/question/0/0"')#quote.alert.alert-primary.quote(role='alert')
        | C'est Kikadissa? 

  
