extends layout

block content
  div#index.container
    table.table.borderless
      tbody
        tr
          td#viande 
            div.alert.alert-primary(role='alert')
              | #{gameTitle1}
            
          td#quote 
            div.alert.alert-primary(role='alert')
              | #{gameTitle2}



  
