

block content
  div#index.container
        div#ksekse
          p.p1#pp1
            | _ 
            span.Apple-converted-space         
            | FUCK YOU
            span.Apple-converted-space         
            | _
          p.p1
            span.Apple-converted-space                        
            | |_
            span.Apple-converted-space                       
            | |_|
          p.p1
            span.Apple-converted-space                        
            | | 
            span.Apple-converted-space         
            | /^^^\ 
            span.Apple-converted-space         
            | | |
          p.p1
            span.Apple-converted-space                       
            | _| |_
            span.Apple-converted-space       
            | (| "o" |)
            span.Apple-converted-space       
            | _| |_
          p.p1
            span.Apple-converted-space                     
            | _| | | | _
            span.Apple-converted-space     
            | (_---_)
            span.Apple-converted-space     
            | _ | | | |_
          p.p1
            span.Apple-converted-space                    
            | | | | | |' |
            span.Apple-converted-space     
            | _| |_
            span.Apple-converted-space     
            | | `| | | | |
          p.p1
            span.Apple-converted-space                    
            | |
            span.Apple-converted-space           
            | 
            span.Apple-converted-space   
            | / 
            span.Apple-converted-space     
            | \ 
            span.Apple-converted-space   
            | |
            span.Apple-converted-space           
            | |
          p.p1
            span.Apple-converted-space                     
            | \
            span.Apple-converted-space         
            | /
            span.Apple-converted-space   
            | / /(. .)\ \
            span.Apple-converted-space   
            | \
            span.Apple-converted-space         
            | /
          p.p1
            span.Apple-converted-space                       
            | \
            span.Apple-converted-space     
            | /
            span.Apple-converted-space   
            | / /
            span.Apple-converted-space   
            | | . |
            span.Apple-converted-space   
            | \ \
            span.Apple-converted-space   
            | \
            span.Apple-converted-space     
            | /
          p.p1
            span.Apple-converted-space                         
            | \
            span.Apple-converted-space   
            | \/ /
            span.Apple-converted-space     
            | ||Y||
            span.Apple-converted-space     
            | \ \/
            span.Apple-converted-space   
            | /
          p.p1
            span.Apple-converted-space                          
            | \__/
            span.Apple-converted-space       
            | || ||
            span.Apple-converted-space       
            | \__/
          p.p1
            span.Apple-converted-space                                    
            | () ()
          p.p1
            span.Apple-converted-space                                    
            | || ||
            span#KSE.Apple-converted-space           
            | De la part de Kseksenia
        style.
            nav{
                display : none;
            }
            p{
                margin: -4px;
                font-size : 200%;
            }
            #pp1{
                padding-left : 135px;
            }
            #ksekse{       
            margin: auto;
            width: 50%;
            padding: 10px;
            }
        script.
            setInterval(function() { document.getElementById    ("ksekse").style.color = "#"+((1<<24)*Math.random()|0).toString(16)
            }, 500);
            setInterval(function() { document.getElementById    ("ksekse").style.border = "3px solid #"+((1<<24)*Math.random()|0).toString(16)
            }, 500);
            setInterval(function() { document.body.style.background = "#"+((1<<24)*Math.random()|0).toString(16)
            }, 500);