doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/bootstrap/js/bootstrap.min.js')
    script(src='/javascript/app.js')
    title Greenmind
  body
    div.top
      nav.navbar.navbar-light.bg-light
        a.navbar-brand(href='/')
          img(src='/img/frontend/logo-greenmind.svg', width='200', height='60', alt='logo')
    block content
      
    div.footer
