extends layout

block content

 if reponseFaux 

  div#reponse.container-fluid.greenBack
    div.row.justify-content-center.align-items-end
      div.col-md-4
        h1= vraiVar
      div.col-md-4
        p#consommation Consommation 
    div.row.justify-content-center
      div.col-md-4
        p#animal Poulet
      div.col-md-4
       
    

      div.row.d-flex.justify-content-center
        div.col-md-8
          img.img-fluid(src='img/meat/rep/poulet.jpg', alt='Responsive image')
          // arrow "GO to the next Question"
          // ligne de source de l'info
 else 


  div#reponse.container-fluid.redBack
    div.row.justify-content-center.align-items-end
      div.col-md-4
        h1= fauxVar
      div.col-md-4
        p#consommation Consommation 
    div.row.justify-content-center
      div.col-md-4
        p#animal Poulet
      div.col-md-4
       
    

      div.row.d-flex.justify-content-center
        div.col-md-8
          img.img-fluid(src='img/meat/rep/poulet.jpg', alt='Responsive image')
          // arrow "GO to the next Question"
          // ligne de source de l'info

