extends layout

block content
 if reponse 
  div#reponse.container-fluid.greenBack
    div.row.justify-content-center.align-items-end
      div.col-md-4
        h1= vraiVar
      div.col-md-4
        p#consommation Consommation 
    div.row.justify-content-center
      div.col-md-4
        p#animal Poulet
      div.col-md-4
      div.row.d-flex.justify-content-center
        div.col-md-8.text-center
          img.img-reponse.img-fluid(src='img/meat/rep/poulet.jpg', alt='Responsive image')
      div.row
        button.btn
          a(onclick='href="/quote"')
            img.arrow.img-fluid(src='img/frontend/button-arrow-VRAI.svg', alt='Responsive image')

 else 
  div#reponse.container-fluid.redBack
    div.row.justify-content-center.align-items-end
      div.col-md-4
        h1= fauxVar
      div.col-md-4
        p#consommation Consommation 
    div.row.justify-content-center
      div.col-md-4
        p#animal Poulet
      div.col-md-4
      div.row.d-flex.justify-content-center
        div.col-md-8.text-center
          img.img-reponse.img-fluid(src='img/meat/rep/poulet.jpg', alt='Responsive image')

      div.row
        button.btn
          a(onclick='href="/match"')
            img.arrow.img-fluid(src='img/frontend/button-arrow-FAUX.svg', alt='Responsive image')
