extends layout

block content
  div#reponseVRAI.container
    div.row
      div.col-md-6
        h1= vraiVar
      div.col-md-6
        p Consommation 
    div.row
      div.col-md-6
        p Poulet
      div.col-md-6
        p Info
    div.row
      
  
