@font-face {
  font-family: 'CaviarDreams';
  src: url('fonts/caviar_dreams/CaviarDreams.ttf') format('truetype'),
      url:('');
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, a {
    font:inherit;
    font-family: Caviar Dreams;
}

body {
  /*max-width: 100vh;*/
  /*max-height: 100vh;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#index.container {
  /*background-color: #385a67;*/
  /*padding: 20%;*/
  text-align: center;
  height: auto;
}

#question.container {
  background-color: #355966;
  color: #f5f5f5;
  text-align: center;
}

a {
  color: #00B7FF;
}

.alert {
  color: #f5f5f5;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
  border-radius: 3em;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

#question.container h1 {
  padding: 0.5em;
  text-align: left;
}

/*Main page buttons*/

#viande .alert {
  background-color: #06a587;
}

#quote .alert {
  background-color: #385a67;
}

/*Question buttons styles*/

.questionButton {
  text-align: center;
  padding: 3em;
}

.questionButton span {
  position: absolute;
  margin-left: -50%;
  margin-right: auto;
  width: 250px;
  height: 60px;
  z-index: 4;
  background: none;
  font-size: 56px;
  line-height: 125px;
  color: #f5f5f5;
  text-shadow: none;
  border: none;
  border-color: transparent;
  border-bottom-color: transparent;
  box-shadow: none;
  font-weight:bold;
}

img {
  width: 850px;
}
