@font-face {
    font-family: 'Caviar Dreams';
    src: url('fonts/CaviarDreams.eot');
    src: url('fonts/CaviarDreams.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreams.woff2') format('woff2'),
         url('fonts/CaviarDreams.woff') format('woff'),
         url('fonts/CaviarDreams.ttf')  format('truetype'),
         url('fonts/CaviarDreams.svg#Caviar Dreams') format('svg');
}

@font-face {
    font-family: 'Caviar Dreams bold';
    src: url('fonts/CaviarDreamsBold.eot');
    src: url('fonts/CaviarDreamsBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreamsBold.woff2') format('woff2'),
         url('fonts/CaviarDreamsBold.woff') format('woff'),
         url('fonts/CaviarDreamsBold.ttf')  format('truetype'),
         url('fonts/CaviarDreamsBold.svg#Caviar Dreams') format('svg');
         font-weight: bold;
}

@font-face {
    font-family: 'Caviar Dreams italic';
    src: url('fonts/CaviarDreamsItalic.eot');
    src: url('fonts/CaviarDreamsItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreamsItalic.woff2') format('woff2'),
         url('fonts/CaviarDreamsItalic.woff') format('woff'),
         url('fonts/CaviarDreamsItalic.ttf')  format('truetype'),
         url('fonts/CaviarDreamsItalic.svg#Caviar Dreams') format('svg');
         font-style: italic, oblique;
}

@font-face {
    font-family: 'Caviar Dreams bold italic';
    src: url('fonts/CaviarDreamsBoldItalic.eot');
    src: url('fonts/CaviarDreamsBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/CaviarDreamsBoldItalic.woff2') format('woff2'),
         url('fonts/CaviarDreamsBoldItalic.woff') format('woff'),
         url('fonts/CaviarDreamsBoldItalic.ttf')  format('truetype'),
         url('fonts/CaviarDreamsBoldItalic.svg#Caviar Dreams') format('svg');
         font-style: italic, oblique;

}



html, body, div, span, h1, h2, h3, h4, h5, h6, p, a {
    font:inherit;
    font-family: Caviar Dreams;
}

body {
  /*max-width: 100vh;*/
  /*max-height: 100vh;*/
  background-color: #3e5966;
  width: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

#index.container {
  /*background-color: #385a67;*/
  /*padding: 20%;*/
  text-align: center;
  height: auto;
}

#question.container {
  background-color: #355966;
  color: #f5f5f5;
  text-align: center;
}

a {
  color: #00B7FF;
}

.alert {
  color: #f5f5f5;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
  border-radius: 3em;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none;
}

#question.container h1 {
  padding: 0.5em;
  text-align: left;
}

/*Main page buttons*/

#viande .alert {
  background-color: #06a587;
}

#quote .alert {
  background-color: #385a67;
}

/*Question buttons styles*/

.questionButton {
  text-align: center;
  padding: 3em;
}

#match .row .questionButton span {
  position: absolute;
  margin-left: -50%;
  margin-right: auto;
  width: 250px;
  height: 60px;
  z-index: 4;
  background: none;
  font-size: 56px;
  line-height: 125px;
  color: #f5f5f5;
  text-shadow: none;
  border: none;
  border-color: transparent;
  border-bottom-color: transparent;
  box-shadow: none;
  font-weight:bold;
}


.img-fluid {
 
  width: 60%;

}


.redBack {
  background-color: #b54c27;
}

.greenBack {
  background-color: #00a586;
}

.greenBack .col-md-8 {
  text-align: center;
}


#quote .jumbotron{
  background-color: transparent;
  font-size: 48px;
  color: #f5f5f5;
}


#quote .row .questionButton span {
  position: absolute;
  margin-left: -60%;
  margin-right: auto;
  width: 350px;
  height: 350px;
  z-index: 4;
  background: none;
  font-size: 48px;
  /*line-height: 350px;*/
  color: #f5f5f5;
  text-shadow: none;
  border: none;
  border-color: transparent;
  border-bottom-color: transparent;
  box-shadow: none;
  font-weight:bold;
}

.repText{
  font-size: 120px;
}

h1 {
  font-family: Caviar Dreams bold;
  font-size: 10rem;
  color: white;

}

#consommation {
  font-family: Caviar Dreams bold;
  font-size: 4rem;
  color: white;
}

#animal{
  font-family: Caviar Dreams;
  font-size: 3rem;
  color: white;
  padding-left: 30%;
  margin-top: -30px;
}


.arrow{
  width: 12rem;
  margin-top: -10rem;
  z-index: 3;
  margin-left: 40%;
}

